<?xml version="1.0"?>
<launch>
  <arg name="ID" default="0"/>
  <arg name="vehicle" default="iris"/>
  <arg name="model_name" default="uav1"/>
  <arg name="px4_sim_model" default="gazebo-classic_$(arg vehicle)"/>
  <arg name="runtime_root" default="/opt/ros/noetic/share/px4_sitl_1_14/runtime"/>
  <arg name="gazebo_runtime_root" default="/opt/ros/noetic/share/gazebo_sim_px4_1_14"/>
  <arg name="gazebo_plugin_root" default="/opt/ros/noetic/lib/gazebo_sim_px4_1_14"/>
  <arg name="work_dir" default="/tmp/px4_sitl/$(arg model_name)"/>
  <arg name="startup_script" default="etc/init.d-posix/rcS"/>
  <arg name="param_file" default=""/>
  <arg name="param_bson" default=""/>
  <arg name="reset_params" default="false"/>
  <arg name="sys_autostart" default=""/>
  <arg name="sim_speed_factor" default=""/>
  <arg name="home_lat" default=""/>
  <arg name="home_lon" default=""/>
  <arg name="uxrce_dds_ns" default=""/>
  <arg name="uxrce_dds_port" default=""/>
  <arg name="px4_extra_args" default=""/>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="R" default="0"/>
  <arg name="P" default="0"/>
  <arg name="Y" default="0"/>

  <arg name="world" default="$(arg gazebo_runtime_root)/worlds/empty.world"/>
  <arg name="sdf" default="$(arg gazebo_runtime_root)/models/$(arg vehicle)/$(arg vehicle).sdf"/>
  <arg name="mavlink_tcp_port" default="$(eval 4560 + int(arg('ID')))"/>
  <arg name="mavlink_udp_port" default="$(eval 14560 + int(arg('ID')))"/>
  <arg name="qgc_udp_port" default="14550"/>
  <arg name="sdk_udp_port" default="$(eval 14540 + int(arg('ID')))"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="respawn_gazebo" default="false"/>

  <arg name="fcu_url" default="$(eval 'udp://:' + str(14540 + int(arg('ID'))) + '@localhost:' + str(14580 + int(arg('ID'))))"/>
  <arg name="gcs_url" default=""/>
  <arg name="namespace" default=""/>
  <arg name="mavros_tgt_system" default="$(eval int(arg('ID')) + 1)"/>
  <arg name="respawn_mavros" default="false"/>
  <arg name="interactive" default="false"/>

  <env name="PX4_SIM_MODEL" value="$(arg px4_sim_model)"/>
  <env if="$(eval arg('sys_autostart') != '')" name="PX4_SYS_AUTOSTART" value="$(arg sys_autostart)"/>
  <env if="$(eval arg('sim_speed_factor') != '')" name="PX4_SIM_SPEED_FACTOR" value="$(arg sim_speed_factor)"/>
  <env if="$(eval arg('home_lat') != '')" name="PX4_HOME_LAT" value="$(arg home_lat)"/>
  <env if="$(eval arg('home_lon') != '')" name="PX4_HOME_LON" value="$(arg home_lon)"/>
  <env if="$(eval arg('uxrce_dds_ns') != '')" name="PX4_UXRCE_DDS_NS" value="$(arg uxrce_dds_ns)"/>
  <env if="$(eval arg('uxrce_dds_port') != '')" name="PX4_UXRCE_DDS_PORT" value="$(arg uxrce_dds_port)"/>
  <env if="$(eval arg('param_file') != '')" name="PX4_SITL_PARAM_FILE" value="$(arg param_file)"/>
  <env if="$(eval arg('param_bson') != '')" name="PX4_SITL_PARAM_BSON" value="$(arg param_bson)"/>
  <env name="PX4_SITL_RESET_PARAMS" value="$(arg reset_params)"/>
  <env name="GAZEBO_PLUGIN_PATH" value="$(arg gazebo_plugin_root):$(optenv GAZEBO_PLUGIN_PATH)"/>
  <env name="GAZEBO_MODEL_PATH" value="$(arg gazebo_runtime_root)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <env name="LD_LIBRARY_PATH" value="$(arg gazebo_plugin_root):$(optenv LD_LIBRARY_PATH)"/>

  <arg unless="$(arg interactive)" name="px4_command_arg1" value="-d"/>
  <arg     if="$(arg interactive)" name="px4_command_arg1" value=""/>

  <node name="sitl" pkg="px4_sitl_1_14" type="run_px4_sitl.sh" output="screen" required="true"
        args="--runtime-root $(arg runtime_root) --work-dir $(arg work_dir) --instance $(arg ID) --script $(arg startup_script) -- $(arg px4_command_arg1) $(arg px4_extra_args)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="world_name" value="$(arg world)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
  </include>

  <node name="$(anon vehicle_spawn)" pkg="gazebo_sim_px4_1_14" type="spawn_sdf_model.py" output="screen"
        args="--sdf $(arg sdf) --model $(arg model_name) --x $(arg x) --y $(arg y) --z $(arg z) --roll $(arg R) --pitch $(arg P) --yaw $(arg Y) --mavlink-tcp-port $(arg mavlink_tcp_port) --mavlink-udp-port $(arg mavlink_udp_port) --qgc-udp-port $(arg qgc_udp_port) --sdk-udp-port $(arg sdk_udp_port)"/>

  <group if="$(eval arg('namespace') == '')">
    <include file="$(find mavros)/launch/px4.launch">
      <arg name="gcs_url" value="$(arg gcs_url)"/>
      <arg name="fcu_url" value="$(arg fcu_url)"/>
      <arg name="tgt_system" value="$(arg mavros_tgt_system)"/>
      <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
    </include>
  </group>

  <group if="$(eval arg('namespace') != '')" ns="$(arg namespace)">
    <include file="$(find mavros)/launch/px4.launch">
      <arg name="gcs_url" value="$(arg gcs_url)"/>
      <arg name="fcu_url" value="$(arg fcu_url)"/>
      <arg name="tgt_system" value="$(arg mavros_tgt_system)"/>
      <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
    </include>
  </group>
</launch>
