<?xml version="1.0"?>
<launch>
  <arg name="ID" default="0"/>
  <arg name="vehicle" default="iris"/>
  <arg name="px4_sim_model" default="gazebo-classic_$(arg vehicle)"/>
  <arg name="runtime_root" default="$(find px4_sitl_runtime_1_14)/runtime"/>
  <arg name="gazebo_runtime_root" default="$(find sitl_gazebo_1_14)"/>
  <arg name="gazebo_plugin_root" default="/opt/ros/noetic/lib/sitl_gazebo_1_14"/>
  <arg name="work_dir" default="/tmp/px4_sitl_runtime/$(arg vehicle)_$(arg ID)"/>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="R" default="0"/>
  <arg name="P" default="0"/>
  <arg name="Y" default="0"/>

  <arg name="world" default="$(arg gazebo_runtime_root)/worlds/empty.world"/>
  <arg name="sdf" default="$(arg gazebo_runtime_root)/models/$(arg vehicle)/$(arg vehicle).sdf"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="respawn_gazebo" default="false"/>

  <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
  <arg name="respawn_mavros" default="false"/>
  <arg name="interactive" default="false"/>

  <env name="PX4_SIM_MODEL" value="$(arg px4_sim_model)"/>
  <env name="GAZEBO_PLUGIN_PATH" value="$(arg gazebo_plugin_root):$(optenv GAZEBO_PLUGIN_PATH)"/>
  <env name="GAZEBO_MODEL_PATH" value="$(arg gazebo_runtime_root)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <env name="LD_LIBRARY_PATH" value="$(arg gazebo_plugin_root):$(optenv LD_LIBRARY_PATH)"/>

  <arg unless="$(arg interactive)" name="px4_command_arg1" value="-d"/>
  <arg     if="$(arg interactive)" name="px4_command_arg1" value=""/>

  <node name="sitl" pkg="px4_sitl_runtime_1_14" type="run_px4_sitl.sh" output="screen" required="true"
        args="--runtime-root $(arg runtime_root) --work-dir $(arg work_dir) --instance $(arg ID) -- $(arg px4_command_arg1)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="world_name" value="$(arg world)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
  </include>

  <node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-sdf -file $(arg sdf) -model $(arg vehicle) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

  <include file="$(find mavros)/launch/px4.launch">
    <arg name="gcs_url" value=""/>
    <arg name="fcu_url" value="$(arg fcu_url)"/>
    <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
  </include>
</launch>
